@media(min-width: 500px) {
body{
    background-color: #96a3b6;
    box-sizing: border-box;
    margin: 0;
}}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #7f8392;
}
.logo{
    cursor: pointer;
}
.nav-links a, .contacts{
 text-decoration: none;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: rgb(255, 255, 255);
 font-weight: 500;
}
.nav-links{
    display: flex;
    list-style: none;
    flex-direction: row;
}
.nav-links li{
    padding: 0px 20px;
}
.nav-links li a{
    transition: color 0.3s ease 0s;
}
.nav-links li a:hover{
    color: #3d3e46;
}
.contacts {
    padding: 9px 25px;
    background-color: #6c6c75;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: bacground-color 0.3s ease 0s;
}
.contacts:hover{
background-color: #41404b;
}
.main {
    text-align: left;
    color: rgb(0, 0, 0);
}

.footer{
    background-color: #7f8392;
    display: flex;
    flex-direction: row;
}
.footer div{
    padding: 50px;
}
.footer.a{
    flex-basis: 20%;
}
.footer{
    justify-content: center;
}
.ftr a{
    text-decoration: none;
    color: black;
}
.footer a{
    text-decoration: none;
    color: black;
} 
.s{
    position: absolute;
    top: 300px;
    left: 770px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.p{
    padding: 3px 10px;
    background-color: rgb(132, 136, 146);
    border: none;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}
.p:hover{
    background-color: rgb(68, 68, 73);
}
.n{
    padding: 3px 10px;
    background-color: rgb(132, 136, 146);
    border: none;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}
.n:hover{
    background-color: rgb(68, 68, 73);
}