@media(min-width: 500px) {
    body{
        background-color: #96a3b6;
        box-sizing: border-box;
        margin: 0;
    }}
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #7f8392;
        position: fixed;
        width: 100%;
    }
    .logo{
        cursor: pointer;
    }
    .nav-links a, .contacts{
     text-decoration: none;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: rgb(255, 255, 255);
     font-weight: 500;
    }
    .nav-links{
        display: flex;
        list-style: none;
        flex-direction: row;
    }
    .nav-links li{
        padding: 0px 20px;
    }
    .nav-links li a{
        transition: color 0.3s ease 0s;
    }
    .nav-links li a:hover{
        color: #3d3e46;
    }
    .contacts {
        padding: 9px 25px;
        background-color: #6c6c75;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: bacground-color 0.3s ease 0s;
    }
    .contacts:hover{
    background-color: #41404b;
    }
    .text{
        display: flex;
        flex-direction: row;
        padding: 30px;
    }
    .box{
        flex-basis: 20%;
    }
    .text{
        text-align: center;
        justify-content: center;
    }
    
    .footer{
        background-color: #7f8392;
        display: flex;
        flex-direction: row;
    }
    .footer div{
        padding: 50px;
    }
    .footer.a{
        flex-basis: 20%;
    }
    .footer{
        justify-content: center;
    }
    .ftr a{
        text-decoration: none;
        color: black;
    }
    .footer a{
        text-decoration: none;
        color: black;
    } 
h1, h2{
    text-align: center;
}
.z{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
}
.c{
    flex-basis: 47%;
}
p.j{
    font-size: 30px;
}
a{
    text-decoration: none;
    color: #000; 
}
.v p{
font-size:25px;
text-align: center;
}
.t{
    font-size: 30px;
    width: 70%;
    margin-left: 50px;
}
ul{
    list-style-type: disc;
}
.v img{
    margin-left: 30px;
}
.d{
font-size: 30px;
margin: 50px;
}

